# Binários e Executáveis
gas
v_gas
*.o
*.so
*.a
*.out

# Arquivos de dados do Gnuplot
gnuplot/*.pts
gnuplot/*.txt
!gnuplot/.gitkeep

img/*
!img/imgh.ppm
!img/imgv.ppm
!img/imgv_ruido_severo.ppm

# IDES e Editores de Código
compile_flags.txt
formatar.sh
github.sh
.vscode/
.idea/
*.swp
*~

# Logs e arquivos temporários
*.log
