# Binários e Executáveis
gas
*.o
*.so
*.a
*.out

# Arquivos de dados do Gnuplot
gnuplot/*.pts
gnuplot/*.txt
!gnuplot/.gitkeep

# IDES e Editores de Código
sincronizar.sh
img_teste.png
.vscode/
.idea/
*.swp
*~

# Logs e arquivos temporários
*.log
